@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --black: #04352d;
    --white: #f4f4f4;
    --dark-gray: #787A7D;
    --medium-gray: #B8B6B6;
    --light-gray: #d9d9d9;
    --really-light-gray: #e0e5ec;
    --brand-primary-green: #0db296;
    --brand-primary-dark-green: #00715e;
    --brand-primary-light-green: #56cbb8;
    --brand-primary-really-light-green: #dee9e8;
    --blue: #1d59b8;
    --fail-red: #981717;
    --warn-orange: #ff7213;
    --heads-up-yellow: #ffa913;
}

body {
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--brand-primary-really-light-green);
    font-family: theme('fontFamily.mono');
}

h1 {
    font-size: 2rem;
}

a {
    color: var(--brand-primary-dark-green);
}
