@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: theme('colors.dark-gray');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: theme('colors.brand-primary-really-light-green');
    font-family: theme('fontFamily.mono');
}

h1 {
    font-size: 2rem;
}

a {
    color: theme('colors.brand-primary-dark-green');
}
