@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --brand-primary-green: #0db296;
    --brand-primary-dark-green: #00715e;
    --brand-primary-really-light-green: #dee9e8;
}

body {
    color: var(--brand-primary-dark-green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--brand-primary-really-light-green);
    font-family: theme('fontFamily.mono');
}

h1 {
    font-size: 2rem;
}
